* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f2f3f5;
  margin: 0;
  color: #34495e;
  overflow-y: scroll;
}

a {
  color: #34495e;
}

button {
  background: #f60;
  border-radius: 3px;
  height: 40px;
  color: white;
  font-size: 0.9rem;
  padding: 0.45rem 0.6rem;
  outline: 0;
  max-width: 230px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s all;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.header {
  background-color: #FF742B;
  position: sticky;
  z-index: 999;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
}

.header .inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  height: 50%;
}

.items-header {
  margin-bottom: 16px;
  height: 74px;
}

.items {
  width: 90%;
  margin: 0 auto;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}

.item {
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all .1s ease-in;
}

.item:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.item a {
  flex: 1 1 auto;
}

.item p {
  margin: 10px 0;
}

.item-image {
  display: block;
  width: 100%;
  height: 200px;
}

img[src='Error.src'] {
  display: none;
}

.item-text {
  text-align: center;
}

.item a {
  color: #151515;
  font-size: 1.2em;
  text-decoration: none;
}

.spinner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  /* background-color: #ff6600; */
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 3px 0 0;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
